/* making placeholder text lighter */
.form-control::placeholder {
  color: #e5e5e5;
}

/* for toggling form elements*/
.bg-hide {
  display: none;
}

/* image styling for pages like login */
.bg-common-page-image {
  background-position: center;
  background-size: cover;
}
